---
import Header from "../components/header/Header.jsx";
import Footer from "../components/footer/Footer.jsx";
import {
  headerDataNavigation,
  NewsandInsights,
  footerProps,
  header,
} from "../utils/Data.js";

import "../styles/global.css";

const renderProductionScripts = true;

// console.log(process.env.NEXT_PUBLIC_GTM_ID,"import.meta.env.PUBLIC_GTM_ID");
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <slot name="head" />

    {
      renderProductionScripts && (
        <script is:inline>
          {`
          (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
          })(window,document,'script','dataLayer','GTM-WFZHKG98');
        `}
        </script>
      )
    }
  </head>
  <body class="antialiased">
    {
      renderProductionScripts && (
        <noscript>
          <iframe
            src={`https://www.googletagmanager.com/ns.html?id=GTM-WFZHKG98`}
            height="0"
            width="0"
            style="display:none;visibility:hidden"
          />
        </noscript>
      )
    }

    <Header
      data={header}
      headerData={headerDataNavigation}
      newsInsights={NewsandInsights}
      client:load
    />
    <main><slot /></main>
    <Footer {...footerProps} client:load />
  </body>
</html>
