---
import Header from "../components/header/Header.jsx";
import Footer from "../components/footer/Footer.jsx";
import {
  getHeaderDataApolloClient,
  getHeaderNavigationData,
  getFooterDataApolloClient,
  getGlobalConfigData,
} from "../utils/_apiCalls.js";

import "../styles/global.css";
import { HeaderProvider } from "../providers/HeaderProvider.jsx";


let header = null,
  navigationData = null,
  footerProps = null,
  globalConfig = null;
try {
  [header, navigationData, footerProps, globalConfig] = await Promise.all([
    getHeaderDataApolloClient(),
    getHeaderNavigationData(),
    getFooterDataApolloClient(),
    getGlobalConfigData(),
  ]);
} catch (error) {
  console.error("Error fetching initial data:", error);
}

if (!navigationData) {
  console.error("Navigation data is unavailable.");
}

const {
  renderNavigation: headerDataNavigation = null,
  newsAndInsights: NewsandInsights = null,
} = navigationData || {};

const renderProductionScripts = import.meta.env.PUBLIC_MODE === "production";

const favicon =
  globalConfig?.globalConfig?.data?.attributes?.favicon?.data?.attributes
    ?.url || "";

    // console.log(navigationData,"navigationData");

---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="ahrefs-site-verification"
      content="0a681ca90fb1925fcccf13de1ca61c3270de1a14f5ec1274000f2b35600f465f"
    />

    {favicon && <link rel="icon" href={favicon} />}

    <slot name="head" />

    <!-- {
      renderProductionScripts && (
        <script is:inline>
          {`
          (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
          })(window,document,'script','dataLayer','GTM-WFZHKG98');
        `}
        </script>
      )
    } -->
  </head>
  <body class="antialiased">
    <!-- {
      renderProductionScripts && (
        <noscript>
          <iframe
            src={`https://www.googletagmanager.com/ns.html?id=GTM-WFZHKG98`}
            height="0"
            width="0"
            style="display:none;visibility:hidden"
          />
        </noscript>
      )
    } -->
 <HeaderProvider>

   <Header
     data={header}
     headerData={headerDataNavigation}
     newsInsights={NewsandInsights}
     client:load
   />
   <main><slot /></main>
   <Footer {...footerProps} client:load />

 </HeaderProvider>
  </body>
</html>
